// ------------------------------- header ------------------------------------
header {
  background-image: url('../images/mobile/image-header.jpg');
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 2.5rem;
  }

  nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
  }
  
  nav .menu ul {
    display: none;
  }
  
  /* Mostrar menu */
  
  nav.show .menu {
    opacity: 1;
    visibility: visible;
  
    background-color: white;
  
    height: 40vh;
    width: 80vw;
  
    position: fixed;
    top: 12%;
    left: 10%;
  
    display: grid;
    place-content: center;
    z-index: 2;

    &::after {
      content: "";
      width: 0; 
      height: 0; 
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      
      border-right: 20px solid white;
      position: absolute;
      top: -6%;
      right: 0;
    }
  }
  
  /* toggle menu*/
  .toggle {
    cursor: pointer;
    z-index: 2;
  }

  nav.show .menu ul {
    display: grid;
    
    li {
      text-align: center;
      
      a {
        color:$Dark-grayish-blue;
        padding: 1rem 2rem;
        border-radius: 2rem;
      &:hover {
        color: $Very-dark-desaturated-blue;
        background-color:$Yellow ;
        text-transform: uppercase;
      }
      }
    }
  }
  
  nav.show ul.grid {
    gap: 2rem;
    position: fixed;
    top: 18%;
    left: 38%;
  }

  h1 {
    font-family: 'Fraunces', sans-serif;
    letter-spacing: 7px;
    font-size: 2.5rem;
    color: $White;
    text-align: center;
    margin-top: 4rem;
  }

  .arrow {
    position:absolute;
    bottom: 24%;
    left: 46%;
    cursor: pointer;
  }
}
