@media (min-width: 768px) {
  // base
    .container {
      padding: 0 2rem;
    }

  // header
  header {
    background-image: url("../images/desktop/image-header.jpg");

    .arrow {
      bottom: 40%;
      left: 49%;
    }

    br {
      display:none;
    }
  }


  // about
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    img {
      width: 100%;
    }

    .item2 {
      order:1;
    }

    .item1 {
      order:2
    }

    .item3 {
      order:3;
    }

    .item4 {
      order:4;
    }

    .item5 {
      order:5
    }

    .item6 {
      order: 6;
    }

    .text-item {
      text-align: start;
      height: auto;
      .text-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:0 12rem;
        

        h3{
          font-size: 3.5rem;
          padding: 0;
          margin:0;
        }

        p {
          padding:0;
          margin:3rem 0;
        }
      }
    }


    .image-text-item {
      div {
        padding: 0 15rem;

        h3 {
          margin-bottom: 2.5rem;
        }
      }
    }
  }

  // testimonials
  #testimonials{
  .cards {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 4rem;
    justify-content: center;
    }
  }

  // img gallery
  #img-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

}


