@media (min-width: 768px) {
  // base
    .container {
      padding: 0 2rem;
    }

  // header
  header {
    background-image: url("../images/desktop/image-header.jpg");

    nav .menu {
      opacity: 1;
      visibility: visible;
      top: 0;
      gap: 2rem;
    }
  
    nav .menu ul {
      display: flex;
      gap: 2rem;
    }
  
    nav .menu ul li a {
      font-size: 1rem;
      font-weight: 400;
      padding: 1rem 2rem;
      color: white;

      &:hover {
        color: $Very-dark-desaturated-blue;
        background-color: white;
        border-radius: 2rem;
      }
    }
  
    .toggle {
      display: none;
    }

    .arrow {
      bottom: 40%;
      left: 49%;
    }

    br {
      display:none;
    }
  }


  // about
  #about {
    display: grid;
    grid-template-columns: 50% 50%;

    img {
      width: 100%;
    }

    .item2 {
      order:1;
    }

    .item1 {
      order:2
    }

    .item3 {
      order:3;
    }

    .item4 {
      order:4;
    }

    .item5 {
      order:5
    }

    .item6 {
      order: 6;
    }

    .text-item {
      text-align: start;
      height: auto;
      .text-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:0 12rem;
        

        h2{
          font-size: 3.5rem;
          padding: 0;
          margin:0;
        }

        p {
          padding:0;
          margin:3rem 0;
        }
      }
    }


    .image-text-item {

      div {
        left: 20%;

        h3 {
          margin-bottom: 2.5rem;
        }

        p {
          max-width: 500px;
        }
      }
    }
  }

  // testimonials
  #testimonials{
  .cards {
    display: flex;
    gap: 3rem;
    justify-content: center;
    }

    
  }

  // img gallery
  #img-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

}


